@charset "utf-8";
/* CSS Document */

#new{
	width: 830px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding:80px;
}
div#new div{
	float: left;
	width: 330px;
	height: 200px;
	padding: 13px;
	margin: 22px;
}
h3{font-size: 100%;margin:0;padding: 0 0 3px;text-align: center}
p{margin:0;padding: 5px 10px;line-height: 1.3;text-align: justify}
div.n1{background: #FDC778}
div.n2{background: #75EEB3}
div.n3{background: #8EE6F8}
div.n4{background: #CFCFCF}
div.n5{background: #CFCFCF}
div.n6{background: #CFCFCF}

.rtop,.artop{display:block}
.rtop *,.artop *{display:block;height:4px;overflow:hidden;font-size:4px}
.artop *{border-style: solid;border-width:0 4px}
.r1,.rl1,.re1,.rel1{margin-left:9px}
.r1,.rr1,.re1,.rer1{margin-right:9px}
.r2,.rl2,.re2,.rel2,.ra1,.ral1{margin-left:7px}
.r2,.rr2,.re2,.rer2,.ra1,.rar1{margin-right:7px}
.r3,.rl3,.re3,.rel3,.ra2,.ral2,.rs1,.rsl1,.res1,.resl1{margin-left:6px}
.r3,.rr3,.re3,.rer3,.ra2,.rar2,.rs1,.rsr1,.res1,.resr1{margin-right:6px}
.r4,.rl4,.rs2,.rsl2,.re4,.rel4,.ra3,.ral3,.ras1,.rasl1,.res2,.resl2{margin-left:4px}
.r4,.rr4,.rs2,.rsr2,.re4,.rer4,.ra3,.rar3,.ras1,.rasr1,.res2,.resr2{margin-right:4px}
.rx1,.rxl1{border-left-width:7px}
.rx1,.rxr1{border-right-width:7px}
.rx2,.rxl2{border-left-width:6px}
.rx2,.rxr2{border-right-width:6px}
.re2,.rel2,.ra1,.ral1,.rx3,.rxl3,.rxs1,.rxsl1{border-left-width:6px}
.re2,.rer2,.ra1,.rar1,.rx3,.rxr3,.rxs1,.rxsr1{border-right-width:6px}
.rxl1,.rxl2,.rxl3,.rxl4,.rxsl1,.rxsl2,.ral1,.ral2,.ral3,.ral4,.rasl1,.rasl2{border-right-width:0}
.rxr1,.rxr2,.rxr3,.rxr4,.rxsr1,.rxsr2,.rar1,.rar2,.rar3,.rar4,.rasr1,.rasr2{border-left-width:0}
.r4,.rl4,.rr4,.re4,.rel4,.rer4,.ra4,.rar4,.ral4,.rx4,.rxl4,.rxr4{height:6px}
.rer1,.rel1,.re1,.res1,.resl1,.resr1{border-width:1px 0 0;height:0px !important;height /**/:1px}